body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(55, 132, 117, 1);
  color: rgba(191, 221, 215, 1);
}

th {
  border-bottom: solid;
  padding-bottom: 10px;
  font-size: larger;
}

.submit {
  border: none;
  padding: +5px;
  width: 50px;
  display: inline;
  color: rgba(191, 221, 215, 1);
  height: 100%;
  background-color: rgba(113,172,160,1);
  border: none;
  margin: 0px;
}
.submit:active {
  background-color: rgba(113,172,170, .5);
}
.playlist {
  margin-left: 10px;
  top:65px;
  left: 550px;
  width: 350px;
  position: fixed;
}
td {
  padding: 10px 10px 10px 10px;
  text-align:center;
  vertical-align: middle;
}
table {
  /*width: 480px;*/
  padding: 20px;
  margin-top: 20px;
  border-collapse: collapse;
}
audio {
  width: 485px;
  left: 520px;
  top: 0px;
  padding: 10px;
  position: fixed;
}
.textInput{
  width: 200px;
  padding: 3px;
  display: inline;
}
tr {
  border-radius: 5px;
}
.song:hover {
  border-radius: 5px;
  background-color: rgba(102, 140, 126, .5);
}
.song:active {
  background-color: rgba(72, 116, 100, .5);
}

.app {
  /*width: 500px;*/
  margin: 0px;
}

.artwork {
  height: 50px;
}
form {
  right: 0px;
  top: 0px;
  position: fixed;
  padding: 10px;
  margin: 0px;
 }
.search {
  display: inline-block;
  text-align: right;
  width: 100px;
}
.search2 {  
  display:inline-block;
}

.library {
  position: relative;
  left: 0px;
  width: 500px;
}

.libraryTitle {
  width: 500px;
}

.queue {
  top: 65px;
  right: 100px;
  position: fixed;
}